:root {
	/*	--button: #3689E6; */
	--primary: #BB195F;
	--secondary: #909196;
	--tertiary: #000000;
	--radius: .3rem;
	--padding-card: 1.5rem;
	--green: #177245;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.wrap {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 1rem;
}

img {
	width: 100%;
	object-fit: contain;
}

h3 {
	text-transform: uppercase;
	color: var(--secondary);
	font-weight: 600;
	margin-top: 1rem;
}

h4 {
	color: var(--primary);
	font-size: 2.5rem;
	margin: .3rem;

}

.t-center {
	text-align: center;
}

.t-center::first-letter {
	text-transform: uppercase;
}

.wrap-btns {
	display: flex;
	justify-content: center;
	margin-top: 1.5rem;
}

.btn {
	padding: .6rem 1rem;
	border-radius: var(--radius);
	background: var(--primary);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	margin: 0 .5rem;
	font-size: 1rem;

}

.btn>a {
	color: #fff;
	text-decoration: none;
}

.sub-btn {
	background: none;
	border: 2px solid var(--primary);
}

.sub-btn>a {
	color: #000;

}

header {
	display: flex;
	align-items: center;
	padding: .2rem 0;
}

header nav ul {
	list-style: none;
	display: flex;
	padding-left: 1rem;
}

header nav ul li {
	margin-left: .5rem;
}

.btn-menu {
	margin-left: auto;
	font-size: 2rem;
}

nav {
	display: none;
}

.paragraph {
	font-size: 1rem;
	font-weight: 400;
	color: var(--secondary)
}

.note {
	font-size: .6rem;
	font-weight: 400;
	color: var(--secondary)
}

.check {
	position: relative;
	display: inline-block;
	text-align: center;
	margin-left: auto;
	left: 70%;
}

.check i {
	color: var(--green);
	font-size: 1.5rem;
	margin: 0;
}

.check .note {
	margin: .1rem 0 .3rem 0;
}


#form-location .wrap-select,
#form-location~.note-error-city {
	display: none;
}

#form-location.advanced-search .wrap-select,
#form-location.advanced-search~.note-error-city {
	display: block;
}

#form-location {
	max-width: 350px;
}

#form-location select,
.form-location input {
	padding: 1rem;
	min-width: 250px;
	width: 100%;
	margin: .5rem 0;
	outline: none;
	background: #fff;
	border: 2px solid var(--primary);
	border-radius: var(--radius);
	box-sizing: border-box;
	appearance: none;
}

#form-location .wrap-select {
	position: relative;
}

#form-location .wrap-select i {
	position: absolute;
	top: 25px;
	right: 10px;
	color: var(--tertiary);
}

#form-location .wrap-select i.bxs-error-alt {
	animation: error-fetch 1s alternate infinite;
	color: var(--primary)
}

#form-location .wrap-select i.bx-loader {
	animation: rotation 1s infinite linear;
}

.form-location-manual {
	display: inline-block;
}

.form-location-manual label {
	font-size: .9rem;
	display: block
}

.form-location-manual label {
	margin-top: .5rem;
}

.form-location-manual button[type="submit"] {
	color: #fff;
	margin: 1rem auto;

}

.cards.searching .wrap-loader {
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
}
.cards .wrap-loader {
	display: none;
	
}
.cards.searching .wrap-loader .loader{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cards.searching .wrap-loader .loader > p{
	position: absolute;
	top: 1rem;
	bottom: 0;
}
.cards.searching .wrap-loader .loader .circle {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background: var(--primary);
	border-radius: 50%;
	margin: .15rem;
}
.cards.searching .wrap-loader .loader .circle:nth-child(1){
	animation: loaderSearch 1s linear infinite
}
.cards.searching .wrap-loader .loader .circle:nth-child(2){
		animation: loaderSearch 1s 300ms linear infinite

}
.cards.searching .wrap-loader .loader .circle:nth-child(3){
	
	animation: loaderSearch 1s 600ms linear infinite

}
.cards .card {
	width: 100%;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	padding: 1rem var(--padding-card);
	border-radius: calc(.5rem + var(--radius));
	position: relative;
	margin: .5rem 0;
	overflow: hidden;
}

.cards .card .route {
	font-size: 1.2rem
}

.cards .card .route span {
	color: var(--primary);
	font-weight: 600;
	text-transform: uppercase;
}

.cards .card .wrap-img {
	text-align: center;
}

.cards .card .wrap-img img {
	width: 3.5rem;
}

.cards .card .wrap-img .sub-title {
	color: var(--secondary);
}

.cards .card .type {
	font-size: .95rem;
	font-weight: 200;
}

.cards .card .punts {
	list-style: none;
	padding-left: 0;

}

.cards .card .punts>li:first-child {
	color: var(--primary);
	text-transform: uppercase;
	margin-bottom: .5rem;
}

.cards .card .wrap-tool-tip {
	display: inline-block;
	position: absolute;
	right: var(--padding-card);
}

.cards .card .wrap-tool-tip .tool-tip {
	position: absolute;
	opacity: 0;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	width: 150px;
	margin: 0 auto;
	background: #fff;
	padding: 1rem;

}

.cards .card .wrap-tool-tip:hover .tool-tip {
	animation: cardToolTip forwards .6s linear;

}


.cards .card .wrap-tool-tip .btn-tool-tip {
	text-align: center;
	display: inline-block;
	float: right;
	cursor: pointer;
	padding-top: .7rem;
}

.cards .card .wrap-tool-tip .btn-tool-tip p {
	margin: .3rem 0;
	font-size: .4rem;
}

/*
.home{
	position: relative;
	display: inline-flex;
}

.home::before {
		content: " ";

	position: absolute;
	display: block;
	background: #000;
	opacity: .3;
	width: 100vw;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
}
.home > p{
	position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
z-index: 2;
text-transform: uppercase;
letter-spacing: 1px;
padding-bottom: 1.5rem;
margin: 0;
font-weight: 500
}
*/
@keyframes error-fetch {
	from {
		font-size: 1rem;
		transform: rotate(-30deg)
	}

	to {
		font-size: 1.1rem;
		transform: rotate(30deg)
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

@keyframes cardToolTip {
	0% {
		transform: translateX(100%);
	}

	20% {
		display: block;
	}

	25% {
		opacity: 1;
		display: block;

	}

	100% {
		display: block;
		opacity: 1;
		transform: translateX(-40%);
	}
}

@keyframes loaderSearch {
	from {
		transform: scale(1.1);
		opacity: 1;
	}

	to {
		transform: scale(.5);
		opacity: 0;
	}
}
